body {
  background: #F2F3F3;
  color: #252525;
  font-family: 'Helvetica', sans-serif;
  /*font-weight: 400;*/
  font-size: 16px;
}

h1{
	text-align: center;
	font-size: 50pt;
	margin-top: 50px;
}

h3{
	font-size: 40pt;
	font-weight: 300;
	margin-top: 50px;
}

.lessMargin{
	margin-top: 10px;
}

.bold{
	font-weight: 900;
}

.content{
	margin-top: 30px;
}

.medium-img{
	max-height: 380px;
	float:right;
}

.bingo-logo{
	float: right;
	max-height: 50px;
	position: absolute;
	bottom: 10px;
	right:20px;
}

.input-space{
	margin-top: 10px;
}

@-webkit-keyframes fadey {
0% { opacity: 0; }
15% { opacity: 1; }
85% { opacity: 1; }
100% { opacity: 0; }
}

figure#slideshow { width: 100%; margin: 0 auto; position: relative; }
figure#slideshow .slides {
position: absolute; left: 0; top: 0;
width: 100%; height: auto; opacity: 0;
}
figure#slideshow .slides:first-child { position: relative; }